body {
    font-family: 'Arial', sans-serif;
background-color: white;    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2d2d2d;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #000000;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: #c7c7c7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    #home {
        margin-top: 150px;
}
}

h1, h2 {
    color: #333;
}

.project {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #229435;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

button:hover {
    background-color: #4fbb52;
}

a {
    text-decoration: none;
    color: white;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  padding: 5px;
  box-shadow: 1px 2px rgb(107, 104, 106);
  background-color: #ffffff;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

footer {
    background-color: #ffffff;
    color: #f7e7e7;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #404040;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        padding: 30px;
    }
}